.notFound{
    width: 100%;
    min-height: 95vh;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    .container{
        padding: 1rem;
        img{
            border-radius: 2rem;
            width: 100%;
            max-width: 800px;
            margin-bottom: 2rem;
        }
        p{
            margin-bottom: 2rem;
        }
    }
}