//Colors
$red: #FE021A;
$redB: #dd0319;
$black: #313131;
$grey: #C4C4C4;
$greyB: #b1b1b1;
$lightGrey: #F2F2F2;
$white: #fff;

//Typography
$roboto: 'Roboto', sans-serif;
$bold: 700;
$regular: 400;
$light: 300;